.calculator {
    padding: 20px;
    border-radius: 20px;
    margin: 50px auto auto auto;
    width: 400px;
    height: 700px;
    background-color: hsl(0, 1%, 80%);
    border: 5px solid hsl(0, 1%, 50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);

    grid-template-areas: "name name name name"
                         "display display display display"
                         "place1 place2 undo clear"
                         "seven eight nine divide"
                         "four five six multiply"
                         "one two three minus"
                         "zero dot equal plus";
    
    justify-content: center;
    font-family: Garamond;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.name {
    grid-area: name;
    text-align: right;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 15px;
}

.display {
    grid-area: display;
    border: 2px solid black;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: hsl(0, 10%, 95%);
    padding-right: 10px;
    font-family: digital;
    font-size: 40px;
    padding-top: 8px;
    font-weight: 100;
}

.operator, .number, .equal {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: hsl(0, 10%, 20%);
    color: white;
    cursor: pointer;
}

.clear { 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: hsl(0, 10%, 20%);
    color: white;
    cursor: pointer;
    background-color: red;
}

#undo { 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: hsl(0, 10%, 20%);
    color: white;
    cursor: pointer;   
}

#equal {
    background-color: olive;
}